<div class="row" id="header">
    <div class="col-12">
        <div class="row">
            <div class="col-md-10 col-12 text-light">
                <h1>{{ 'label.app' | translate }}</h1>
            </div>

            <div class="col-md-2 col-12">
                <button class="btn btn-block btn-primary login-button" type="button">
                    {{ 'label.login' | translate }}
                </button>

                <!--
                <button class="btn btn-block btn-primary" type="button">
                    {{ 'label.logout' | translate }}
                </button> -->
            </div>
        </div>
    </div>
</div>