<div class="row" id="add-booking">
    <div class="col-12">
        <form [formGroup]="formBooking" (ngSubmit)="addBooking()">
            <div class="row form-group">
                <div class="col-12 mt-2">
                    <label for="name">{{'label.name' | translate}}</label>
                    <input type="text" formControlName="name" class="form-control"
                    [ngClass]="{'is-valid': name.dirty && !name.invalid, 'is-invalid': name.dirty && name.invalid}">
                    <div class="valid-feedback">
                        <span>{{'label.success' | translate}}</span>
                    </div>

                    <div class="invalid-feedback">
                        <span *ngIf="name.errors?.required">{{'label.required' | translate}}</span>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-12 mt-2">
                    <label for="date">{{'label.date' | translate}}</label>
                    <p-calendar [locale]= "locale" 
                                dateFormat="dd/mm/yy" 
                                showTime="true" 
                                [stepMinute]="30"
                                id="date"
                                [readonlyInput]="true"
                                inputStyleClass="form-control is-valid"
                                formControlName="date"
                                [minDate]="today"></p-calendar>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-12 mt-2">
                    <label for="services">{{'label.services' | translate}}</label>
                    <select formControlName="services" id="services" class="custom-select">
                        <option [selected] = "first" [value]="option" *ngFor="let option of options; let first = first">{{option | translate}}</option>
                    </select>
                    
                    <div class="valid-feedback">
                        <span>{{'label.success' | translate}}</span>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-12">
                    <button class="btn btn-block btn-primary" type="submit" [disabled]="formBooking.invalid">
                        {{'label.add.booking' | translate}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>