/* You can add global styles to this file, and also import other style files */
body {
    background-color: #EBEDEF;
    height: 100%;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}